.logo {
    display: inline-block;
    font-family: "Arial", sans-serif;
  }
  
  .circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #18bc9c ;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
  }
  
  .initial {
    font-size: 18px;
    margin-left: -6px;
  }
  
  /* Position the text container on top of the particles container */
.text-container {
  position: relative;
  z-index: 1; /* Display the text above the particles */
}

/* Set the particles container to cover the entire header */
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Place particles behind the text */
}

@media (max-width: 767px) {
  /* Hide elements with AOS animations on mobile devices */
  [data-aos] {
      opacity: 1 !important; /* Make sure the element is visible */
      transform: none !important; /* Remove any transformations */
  }
}